<h1>Change Your Plan</h1>

<div>
  <% @plans.each do |plan| %>
    <div>
      <h5><%= plan.name %></h5>
      <h2>
        <%= formatted_amount plan.amount %>
        per <%= plan.interval %>
      </h2>

      <% if plan.stripe_id == @subscription.stripe_plan %>
        <%= link_to "Current Plan", "#" %>
      <% else %>
        <%= link_to "Switch Plan", subscription_path(plan_id: plan.id), method: :patch, data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to change your plan?" } %>
      <% end %>

    </div>
  <% end %>
</div>
